
.botones {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #10C0C8;
  padding: 20px;
  margin-right: none;
};

.list-group{
  cursor: pointer;
  padding: none;
}